body {
  margin: 0px;
}

.top {
  background-color: #b6eafa;
  margin: 0px;
  width: 200px;
  height: 200px;
  padding-right: 10px;
  border: solid;
}
.middle {
  margin: 0px;
  width: 200px;
  height: 200px;
  background-color: red;
}
.bottom {
  margin: 0px;
  width: 200px;
  height: 200px;
  background-color: blue;
}
