body {
  background-color: wheat;
}
h1 {
  color: red;
}
/*
img{
    width: 250px;
    height: 200px;
    background-color: red;
}
*/
.bacon {
  background-color: white;
  width: 200px;
  height: 200px;
}
.bacon:hover{
  background-color: green;
}
.broccoli {
  background-color: white;
  width: 200px;
  height: 200px;
}
.broccoli:hover{
  background-color: red;
}
.par{
    color: blue;
}
